body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .hero {
    background-image:url('./image/5b80e4666fd9c1acebd26ba0752c102b (1).jpg') ; 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  .sub {
    background-image:url('./image/5b80e4666fd9c1acebd26ba0752c102b\ \(2\)\ .jpg'); 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  .MainTitle {
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color:rgb(2, 2, 2);
  }
  .Secondtitle{
    margin: 0%;
    padding: 0%;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color:rgb(13, 14, 13);
  }
  .search-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }
  .filters label {
    /* display: block; */
    font-size: bolder;
    text-align: center;
  }
  .filters select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .homepageDiv{
    background-image: url(
      "./image/20\ Dark\,\ Romantic\ Halloween\ Wedding\ Decor\ Ideas\ you\'ll\ love\ -\ Finds\ For\ Her.jpeg");
background-size:auto;
  }
  .serchbtn{
    height: 2rem;
    margin-top:30px;
    
  }
  .resethbtn{
    height: 2rem;
    margin-top:30px;
    margin-left: 10px;
  }
  #location{
    margin-bottom: 20px;
  }
  .BuyreCart{
    transition: 1s;
    transform: scale(1.05);
  }