.loginheding{
    margin-left: 40%;
    color: blue;
}
.loginoptions{
    margin-left: 39%;
    
}
.containerr{
    background-color: rgb(240, 243, 245);
    padding: 20px;
    border-style: dashed;
}